    .slick-dots li{
        
        transform: scale(1.5,1.5);
    }
    .slick-prev:before, .slick-next:before{
        color:#b569a4  !important;
    }
    .slick-dots li.slick-active button:before
    {
        color:#b569a4  !important;
        transform: scale(2,2);
    }
    .slick-dots{
        bottom:-40px !important;
    }